.jumbotron {
  width: 70%;
  min-width: 500px;
  margin: auto;
  margin-top: 20px;
}

.form-group {
  width: 30%;
  min-width: 200px;
  margin: auto;
  margin-top: 20vh;
}

.btn {
  margin-left: 10px;
}
